.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: row; 
    gap: 100px; 
    align-items: center;
    justify-content: center;
    margin-top: -20px;
  }

  .innerContainer {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .timer {
    text-align: center;
    color: #fff;
    margin-right: 6px;
    font-family: 'Orbitron', sans-serif; /* Example Cyberpunk font */
  }

  .timer h1 {
    font-size: 1.5rem; /* Adjust heading size */
    text-align: center;
    margin-bottom: 10px;
  }
  
  .timer span {
    display: inline-block;
    width: 2ch; /* Fixed width for each number */
    font-size: 1rem; /* Timer font size */
  }

  .discordBtn {
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: purple;
    border-radius: 5px;
    gap: 5px;
    margin-top: 40px;
    font-size: large;
  }

  .folio{
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    gap: 5px;
    margin-top: 40px;
    font-size: large;
    margin-top: -40px;
    background-color: rgb(55, 112, 255);
  }

  .discordBtn:hover {
    color: grey;
  }

  .timer h1{
    font-size: 25px;
  }
  
  .heroImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack content vertically */
    gap: 20px;
  }

  .heroImg {
    order: 1; /* Ensure the image comes first */
  }

  .innerContainer {
    order: 2; /* Ensure the timer and button come after the image */
    align-items: center;
    text-align: center;
  }

  .timer h1{
    font-size: 1rem;
  }

  .discordBtn {
    padding: 8px 16px;
    font-size: 0.9rem; /* Adjust size */
  }

  .heroImg img {
    height: 50%;
    width: 80%; /* Reduce image size on mobile */
    max-width: 400px; /* Limit maximum size */
  }
}